body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    scroll-margin-top: 80px;
    padding: 20px;
    margin-top: 75px;
    
}

#image_section, #customize_section{
    width: 50%;
    scroll-margin-top: 80px;
    margin-top: 75px;
    
    padding: 20px;
    box-sizing: border-box;
}
#image_section{
    width: 50%;
}


#image_section img{
    width: 75%;
    height: auto;
}


#customize_section {
    position: relative;
    border-radius: 5px;
    height: 80%;   
    font-family: 'Exo', sans-serif;
    overflow: hidden;
    z-index: 0; /* ensures stacking order */
  }
  
  #customize_section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.05); /* light translucent layer */
    z-index: -1; /* behind all content */
    border-radius: 5px;
  }

#customize_section div{
    margin: 20px 10px;
    
}

/* #customize_section, 
#customize_section h1, 
#customize_section h2, 
#customize_section form,
#sweetness_section,
#ice_section,
#quantity_section{
    background-color: rgba(0,0,0,0.5);
} */

#quantity_section{
    display: inline;
    margin: 20px 10px;
    
}


#ice_section label, #sweetness_section label{
    margin-right: 10px;
}

#quantity_section hr{
    margin:10px 0px;
}

#customize_section form button{
    position: absolute;
    padding: 10px;
    right: 10px;
    bottom: 1px;
    margin-top: 10px;
    color: white;
}